<mat-grid-list cols="3" rowHeight="253px" gutterSize="10px;">
    <mat-grid-tile *ngFor="let pump of pumpService.GetPumps() | async" class="white-text" routerLink="{{pump.id}}">
        <div style="display: inline;" class="notification">
            <mat-icon *ngIf="!pump.enabled" color="warn">block</mat-icon>
            <mat-icon *ngIf="pump.level / pump.volume <= pumpService.threshold" color="warn">notifications</mat-icon>
        </div>
        <div class="pump-number">
            {{pump.id}}
        </div>
        <div class="tile-title-center">
            {{pump.liquid.name}}
        </div>
        <pump-quick-status class="tile-title-container" [liquid]="pump.liquid"></pump-quick-status>
    </mat-grid-tile>
</mat-grid-list>
    