<mat-grid-list cols="3" rowHeight="fit" gutterSize="10px;">
    <mat-grid-tile class="white-text" style="background-image: url('assets/alcohol.png');" routerLink="./shots">
        <div class="tile-title-container">
            <div class="tile-title">
                Alcohol
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="white-text" routerLink="./mixers">Mixers</mat-grid-tile>
    <mat-grid-tile class="white-text" style="background-image: url('assets/recipes.jpg');" routerLink="./recipes">
        <div class="tile-title-container">
            <div class="tile-title">
                Recipes
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 1</mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 2</mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 3</mat-grid-tile>
</mat-grid-list>