<mat-grid-list cols="3" rowHeight="fit" gutterSize="10px;">
    <mat-grid-tile class="white-text" routerLink="./shots">Shots</mat-grid-tile>
    <mat-grid-tile class="white-text" routerLink="./mixers">Mixers</mat-grid-tile>
    <mat-grid-tile class="white-text" routerLink="./recipes">Recipes</mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 1</mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 2</mat-grid-tile>
    <mat-grid-tile class="white-text">Recent Recipe 3</mat-grid-tile>
</mat-grid-list>