<mat-grid-list cols="3" rowHeight="253px" gutterSize="10px;">
    <mat-grid-tile class="white-text" style="background-image: url('assets/home/alcohol.jpg');" routerLink="./shots">
        <div class="tile-title-container">
            <div class="tile-title">
                Alcohol
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="white-text" style="background-image: url('assets/home/mixers.jpg');" routerLink="./mixers">
        <div class="tile-title-container">
            <div class="tile-title">
                Soft Drinks
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="white-text" style="background-image: url('assets/home/mixed-drink.jpg');" routerLink="./recipes">
        <div class="tile-title-container">
            <div class="tile-title">
                Mixed Drinks
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="white-text" style="background-image: url('assets/home/syrups.jpg');" routerLink="./syrups">
        <div class="tile-title-container">
            <div class="tile-title">
                Syrups
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>