<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button routerLink="/" mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <span routerLink="/" class="toolbar-title">Mix</span>
        <mat-icon *ngIf="router.url !== '/'">chevron_right</mat-icon>
        <span routerLink="/shots" *ngIf="router.isActive('/shots', false)">Shots</span>
        <span routerLink="/mixers" *ngIf="router.isActive('/mixers', false)">Mixers</span>
        <span routerLink="/recipes" *ngIf="router.isActive('/recipes', false) && !router.isActive('/recipes/database', false)">Recipes</span>
        <span *ngIf="router.isActive('/recipes/database', false)">Recipe Editor</span>
        <span *ngIf="router.isActive('/status', false)">Status</span>
        <span *ngIf="router.isActive('/liquids', false)">Liquid DB</span>
        <span *ngIf="router.isActive('/pumps', false)">System Setup</span>
        <span class="toolbar-spacer"></span>
        <button [matMenuTriggerFor]="notifications" *ngIf="lowPumps && lowPumps.length > 0" mat-icon-button>
            <mat-icon [matBadge]="lowPumps.length" matBadgeColor="warn">notification_important</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="lock()" *ngIf="!lockService.isLocked()" mat-menu-item>
                <mat-icon>lock</mat-icon>
                <span>Lock</span>
            </button>
            <button (click)="unlock()" *ngIf="lockService.isLocked()" mat-menu-item>
                <mat-icon>lock_open</mat-icon>
                <span>Unlock</span>
            </button>
            <button routerLink="/status" mat-menu-item>
                <mat-icon>opacity</mat-icon>
                <span>Contents Status</span>
            </button>
            <button routerLink="/recipes/database" *ngIf="!lockService.isLocked()" mat-menu-item>
                <mat-icon>dashboard</mat-icon>
                <span>Recipe Editor</span>
            </button>
            <button routerLink="/liquids" *ngIf="!lockService.isLocked()" mat-menu-item>
                <mat-icon>list</mat-icon>
                <span>Liquid Database</span>
            </button>
            <button routerLink="/pumps" *ngIf="!lockService.isLocked()" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>System Setup</span>
            </button>
        </mat-menu>
        <mat-menu #notifications="matMenu">
            <button [disabled]="lockService.isLocked()" *ngFor="let pump of lowPumps" mat-menu-item>
                <mat-icon>info</mat-icon>
                <span>{{pump.liquid}} #{{pump.id}} is running low ({{pump.level / pump.volume * 100}}%)</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>