<div class="parent-div">
    <div *ngIf="pump" class="tile-title-center">
        Pump #{{pump.id}}
    </div>
</div>

<div *ngIf="pump" class="container">
    <div style="margin-top: 24px;">
        <mat-form-field color="default">
            <mat-select [(value)]="liquidName" (selectionChange)="save($event)">
                <mat-option *ngFor="let liquid of liquidService.GetLiquids() | async" [value]="liquid.name">
                    {{liquid.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div *ngIf="pump" class="container">
    <div class="enabled-button">
        <mat-slide-toggle
            color="primary"
            [(ngModel)]="pump.enabled"
            (change)="save($event)">
          Enabled
        </mat-slide-toggle>
    </div>
</div>

<div *ngIf="pump" class="container">
    <div class="child-full-width">
        <div style="font-size: 18px;">{{pump.level}} / {{pump.volume}} mL</div>
        <mat-slider
            min="0"
            step="50"
            [max]="pump.volume"
            [(value)]="pump.level"
            color="primary"
            (change)="save($event)"
        >
        </mat-slider>
    </div>
</div>