<div class="container">
    <div class="child">
        <button mat-fab style="width: 200px; height: 200px; background-color: #757575;">
            <div style="font-size: 24px;">1/2</div>
            <div style="font-size: 24px;">Shot</div>
        </button>
    </div>
    <div style="width: 80px;"></div>
    <div class="child">
        <button mat-fab style="width: 200px; height: 200px; background-color: #757575;">
            <div style="font-size: 36px;">Shot</div>
        </button>
    </div>
    <div style="width: 80px;"></div>
    <div class="child">
        <button mat-fab style="width: 200px; height: 200px; background-color: #757575;">
            <div style="font-size: 24px;">Double</div>
            <div style="font-size: 24px;">Shot</div>
        </button>
    </div>
</div>
<div class="container">
    <div class="child-full-width">
        
    </div>
</div>
<pump-quick-status class="bottom-status" [pump]="pumpService.GetCombinedPump(liquid)"></pump-quick-status>
