.tile-title-center {
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.75px;
    top: 32px;
    position: absolute;
}

mat-grid-list {
    height: calc(100% - 64px - 10px);
    margin-left: 10px;
    margin-top: 10px;
}

.white-text {
    color: #ffffff;
}
