.tile-title-center {
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1.75px;
    text-align: center;
}

.parent-div {
    height: calc(100% - 96px);
    margin-top: 32px;
}

.white-text {
    color: #ffffff;
}
