<div class="parent-div">
    <div *ngIf="liquid" class="tile-title-center">
        {{liquid.name}}
    </div>
    <div *ngIf="recipe" class="tile-title-center">
        {{recipe.name}}
    </div>
    <manual-dispense [liquid]="liquid" *ngIf="liquid && liquid.type === 'MIXER'">

    </manual-dispense>
    <preset-dispense [liquid]="liquid" *ngIf="liquid && (liquid.type === 'SHOTABLE' || liquid.type === 'SYRUP')">

    </preset-dispense>
    <recipe [recipe]="recipe" *ngIf="recipe">

    </recipe>
</div>
